@model catdance.Controllers.CatUrlModel;

<div class="gif-container">
    <h4>Cat Gif of the day</h4>
    <img src="@Model.Url" />
</div>

<style type="text/css">
    div.gif-container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
    }
</style>
