<h1>Welcome to the Book Store</h1>
<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Main Page</a></li>
    <li><a routerLink="/book/12" routerLinkActive="active" ariaCurrentWhenActive="page">Book 12</a></li>
    <li><a routerLink="/user/74" routerLinkActive="active" ariaCurrentWhenActive="page">User Account</a></li>
    <li><a routerLink="/user/74/order-history" routerLinkActive="active" ariaCurrentWhenActive="page">User Orders History</a></li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
