<div class="card mb-3 border-white" style="max-width: 680px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img class="img-fluid rounded-start" [src]="bookDetails?.thumbnailUrl" alt="{{ bookDetails?.title }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                    {{ bookDetails?.title }}
                </h5>
                <div class="card-text">
                    ISBN: {{ bookDetails?.isbn }}
                </div>
                <div class="card-text">
                    Language: {{ bookDetails?.language }}
                </div>
                <div class="card-text">
                    Authors: {{ bookDetails?.authors| authorsConcatenation }}
                </div>
            </div>
        </div>
    </div>
</div>