<ul class="books">
    <li *ngFor="let book of books">
        <div class="card mb-3 border-white" style="max-width: 680px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img class="img-fluid rounded-start" [src]="book?.thumbnailUrl" alt="{{ book?.title }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ book?.title }}
                        </h5>
                        <div class="card-text">
                            ISBN: {{ book?.isbn }}
                        </div>
                        <div class="card-text">
                            Authors: {{ book.authors | authorsConcatenation }}
                        </div>
                        <p class="card-text">
                            <small class="text-muted">
                                Last updated 3 mins ago
                            </small>
                        </p>

                        <a [routerLink]="['/book', book?.id]" routerLinkActive="active" ariaCurrentWhenActive="page">View</a>

                        <!-- <a class="card-link" href="#">Book</a> -->
                    </div>
                </div>
            </div>
        </div>


        <!-- <div>
            <a routerLink="['/book', book?.id]">
                <span>
                    <img class="thumbnail" [src]="book?.thumbnailUrl" alt="{{ book?.title }}" />
                </span>
                <span>
                    <p>{{ book?.title }}</p>
                </span>
            </a>
        </div> -->
    </li>
</ul>
