<ul class="books">
    <li *ngFor="let book of books">
        <div class="card mb-3 border-white" style="max-width: 680px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img class="img-fluid rounded-start" [src]="book?.thumbnailUrl" alt="{{ book?.title }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ book?.title }}
                        </h5>
                        <div class="card-text">
                            ISBN: {{ book?.isbn }}
                        </div>
                        <div class="card-text">
                            Language: {{ book?.language }}
                        </div>
                        <div class="card-text">
                            Authors: {{ book.authors | authorsConcatenation }}
                        </div>
                        <a [routerLink]="['/book', book?.id]" routerLinkActive="active" ariaCurrentWhenActive="page">View</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
